<div id='signin' ng-controller='AuthController'>
  <h1>Free Nights Fast</h1> <br/><br/><br/><br/>
  <h2>Sign In</h2> <br/>
  <form name="signinForm" ng-submit='signin(signinForm.$valid)' novalidate>
    <label class="control-label" for="inputSuccess4">USERNAME</label>
    <input type='text' name='userBox' required ng-model='user.username' id="inputSuccess5" aria-describedby="inputSuccess5Status">

    <br/>
    <!-- <p ng-show="signinForm.userBox.$error.required && submitted">Username is required.</p> -->

    <label class="control-label" for="inputSuccess4">PASSWORD</label>
    <input type="password" name='pwdBox' required ng-model='user.password'>

     <br/>
     <!-- <p ng-show="signinForm.pwdBox.$error.required && submitted">Password is required.</p> -->
     <p ng-show="!isAuth() && submitted">Username and/or password is invalid.</p>
    <br/>
    <button type="submit">Sign In</button>
  </form>
  <a class="appLink" ui-sref="signup">Don't have an account? <strong>Signup</strong> now</a>
</div>
